body,
html {
	font-family: "Inter", sans-serif !important;
	overflow-x: hidden !important;
}

.inner_page {
	background-image: url('../img/inner_page_bg.svg');
	background-repeat: no-repeat;
	background-position: top -400px center;
}

.section_cta {
	padding: 40px 0;
	background: linear-gradient(180deg, rgba(1, 55, 101, 0.8) 0%, rgba(0, 18, 34, 0.6) 85.5%);
}