// QUERY FOR DESIGN BREAKS AND RESPONSIVE DESIGN

@media screen and (min-width: 1400px) { // 2xl up
	.landing_main {
		background-size: 100%, 85%;
	}
}
@media screen and (max-width: 1400px) { // 2xl
}
@media screen and (max-width: 1200px) { // xl
}
@media screen and (max-width: 992px) { // lg
	.landing_main {
		background: none;
	}
	.section_hero {
		.hero_text_box {
			margin-top: 20px;
		}
	}
	.section_features {
		.img_box_ft {
			background: none;
			img {
				box-shadow: 8px 5px 15px 4px rgba(235,72,82,.4);
				border-radius: 25px;
			}
		}
	}
}
@media screen and (max-width: 768px) { // md
	.landing_main {
		background: none !important;
	}
	.section {
		padding: 40px 0 40px 0;
	}
}
@media screen and (max-width: 576px) { // sm
	.inner_page {
		background: none !important;
	}
}
@media screen and (max-width: 290px) { // xs

}

