
.section_hero_ft{
	padding-top: 130px;
	p {
		margin: 0 auto;
		max-width: 500px;
	}
}
.section_features {
	.img_box_ft {
		background: radial-gradient(57.47% 57.29% at 50.06% 50.06%,#eb4852 0,rgba(0,18,34,0) 75%);
	}
}