.landing_main {
	background-image: url('../img/hero_background.svg'), url('../img/platform_bg.svg');
	background-repeat: no-repeat;
	background-position: top center, bottom -50px center;
	background-size: 100%, 110%;
}

.section_hero {
	.hero_text_box {
		margin-top: -100px;
		.hero_title {
			line-height: 1.1 !important;
			.fan_txt {
				color: $secondary;
				font-weight: 700 !important;
			}
		}
	}
}

.section_about {
	.about_container {
		background-color: var(--bs-blue);
		.about_img_container {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}

.section_how {
	.hiw_box {
		.hiw_box_item{
			border: 0;
			background-color: var(--bs-blue);
		}
	}
}
